@page "/welcome"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using BlazorApp1.Util
@inject ProtectedSessionStorage ProtectedSessionStore


<h3>Welcome</h3>

<button class="btn btn-primary" @onclick="async () => await RedirectHandler.DeleteFlagAsync(ProtectedSessionStore)">DeleteFlag</button>

@code {
    
}
